In [3]:
import pandas as pd


hollys=pd.read_csv('hollys_store_info.csv')
hollys_df=pd.DataFrame(hollys)
hollys_df.index = hollys_df.index + 1
hollys_df

,지역,매장명,주소,전화번호
1,경기 성남시 분당구,분당미금점2,"경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3, B1F~1F",031-713-7739
2,인천 부평구,인천굴포천역점,"인천광역시 부평구 충선로209번길 49 (삼산동, 삼산노블시티프라자) 삼산동 463...",070-4400-4664
3,대구 서구,대구팔달교DT점,대구광역시 서구 팔달로 34,053-354-1212
4,인천 중구,인천공항교통센터점,"인천광역시 중구 공항로 272 (운서동, 인천공항) 인천국제공항 제1여객터미널 지하...",032-743-3718
5,부산 중구,한국선원센터점,"부산광역시 중구 충장대로9번길 66 (중앙동4가, 한국선원센터) (중앙동4가 74-...",070-4070-7506
...,...,...,...,...
491,서울 마포구,합정역점,서울특별시 마포구 양화로 36 (합정동 374-1) 할리스,02-6204-1234
492,부산 해운대구,부산달맞이점,"부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스",051-731-3410
493,서울 관악구,신림점,서울특별시 관악구 신림로 353-1,02-877-0019
494,서울 중구,태평로점,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
495,서울 서대문구,신촌점,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004

In [11]:
hollys_df['주소']

1         경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3, B1F~1F
2      인천광역시 부평구 충선로209번길 49 (삼산동, 삼산노블시티프라자) 삼산동 463...
3                                        대구광역시 서구 팔달로 34
4      인천광역시 중구 공항로 272 (운서동, 인천공항) 인천국제공항 제1여객터미널 지하...
5      부산광역시 중구 충장대로9번길 66 (중앙동4가, 한국선원센터) (중앙동4가 74-...
                             ...
491                     서울특별시 마포구 양화로 36 (합정동 374-1) 할리스
492           부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스
493                                  서울특별시 관악구 신림로 353-1
494           서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스
495                   서울특별시 서대문구 연세로 34 (창천동 31-12)  할리스
Name: 주소, Length: 495, dtype: object